/* overall styling */
:root {
    --background-color01: #022707;
    --background-color02: #04773B;
    --background-color03: #F1F0EA;
    --text-color01: #F1F0EA;
    --text-color02: #022707;
}

* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

html {
    min-height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    /* Display */
    display: flex;
    flex-direction: column;    
}

/* Menu and List and links properties*/

a {
    text-decoration: none;
    color: var(--text-color01);
    
}

a:hover {
    background-color: var(--background-color03);
    color: var(--text-color02);
}


ul {
    list-style: none;
    /*Display flex*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

li {
    margin: 6px;
    list-style: none;
}

/* Headers,  Paragraphs & Text elements */
h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 10px;	
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

p.subtitle {
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
}

h3 {
    margin-bottom: 5px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: var(--text-color02);
    text-align: center;
    padding: 20px;
}

.span-strong {
    font-weight: 700;
    font-style: normal;
}

/* Buttons */
button {
    /* Width & Height */
    width: 150px;
    height: 40px;
    /* Border, margin, etc */
    border: none;
    /* Cursor */
    cursor: pointer;
}


.hero-button {
    /* Border, margin, etc */
    margin: 10px 20px;
    /* Background */
    background-color: var(--background-color02);
    /* Font styling */
    color: var(--text-color01);
    font-size: 18px;
}

.box-button > .hero-button {
    /* Border, margin, etc */
    border: 1px solid var(--background-color03);
    border-radius: 10px;
    margin-right: 70px;
}

/* Image */
.img {
    /* Height and width */
    max-width: 500px;
    height: auto;
}

.logo {
    /* Height and width */
    max-width: 150px;
    height: auto;
    /* Border, margin, etc */
    margin-left: 20px;
}


/* Divs and containers styling */

footer {
    /* Height & Width */
    height: 75px;
    width: 100%;
    /* Background */
    background-color: var(--background-color01);
    /* Font properties */
    color: var(--text-color01);
    font-size: small;
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header {
    /* Position */
    position: fixed;
    top: 0;
    width: 100%;
    /* Flex & alignment */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Color & borders */
    background-color: var(--background-color01);
    border-bottom: 1px solid var(--background-color03);
}

.container:not(.subscribe, .container.quote) {
    min-width: 100%;
    min-height: 500px;
}

.container.hero {
    /* Display & alignment*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* Background & Font-Styling */
    background-color: var(--background-color01);
    color: var(--text-color01);
    /* Margins, paddings, etc */
    padding: 10px;
    border: 0;
    margin: auto;
    margin-top: 60px;
}

.container.info {
    /* Display & Alignment */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* Background & Font-Styling */
    color: var(--text-color02);
}

.container.quote {
    /* Margins, paddings, etc */
    padding: 10px;
    width: 100%;
    height: 350px;
    /* Background & Font-Styling */
    background-color: var(--background-color03);
    /* Display & Alignment */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.subscribe {
    /* Height & Width */
    height: 200px;
    /* margin, border, paddings, etc. */
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-box {
    /* Display & Alignment */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Font color & Background color */
    color: var(--text-color01);
    background-color: var(--background-color02);
     /* Width & height */
     height: 100px;
     width: 60%;
     /* Border, margin, etc */
     margin: 5px;
     border-radius: 10px;
}

.subscribe-text {
    /* Display & Alignment */
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    /* Display & Alignment */
}

.hero-text {
    margin: 0;
}

/* Features, and child elements*/
.main-title {
    padding:  8px;
    margin: 24px;
}
.features-main {
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
    /* Text */
    text-align: center;
}
.features {
    /* Columns and margins */
    width: 15%;
    margin: 8px;
    padding: 8px;    
}

.icon {
    font-size: 60px;
    color: var(--text-color02);
    margin: 6px;
    z-index: -1;
}