/* overall styling */
:root {
    --background-color01: #1F2937;
    --background-color02: #3882F6;
    --background-color03: #E5E7EB;
    --text-color01: #F9FAF8;
    --text-color02: #1F2937;
}

* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

html {
    min-height: 100%;
    width: 100%;
}
body {
    /* Display */
    display: flex;
    flex-direction: column;    
}

/* List and links properties*/

a {
    text-decoration: none;
    color: var(--text-color02);
}

a:hover {
    background-color: var(--background-color03);
}

ul {
    text-decoration: none;
    list-style: none;
}

/* Headers,  Paragraphs & Text elements */
h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 10px;	
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

p.subtitle {
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
}

h3 {
    margin-bottom: 5px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: var(--text-color02);
    text-align: center;
    padding: 20px;
}

.span-strong {
    font-weight: 700;
    font-style: normal;
}

/* Buttons */
button {
    width: 150px;
    height: 40px;
    border: none;
}

.hero-button {
    margin: 10px 20px;
    background-color: var(--background-color02);
    color: var(--text-color01);
    font-size: 18px;
}

.box-button > .hero-button {
    border: 1px solid var(--background-color03);
    border-radius: 10px;
    margin-right: 70px;
}

/* Image */
img {
    max-width: 500px;
    height: auto;
}
/* Divs and containers styling */

footer {
    height: 75px;
    width: 100%;
    background-color: var(--background-color01);
    color: var(--text-color01);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.container:not(.subscribe) {
    min-width: 100%;
    min-height: 450px;
}

.container.hero {
    /* Display & alignment*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* Background & Font-Styling */
    background-color: var(--background-color01);
    color: var(--text-color01);
    /* Margins, paddings, etc */
    padding: 30px;
    border: 0;
    margin: auto;
}

.container.info {
    /* Display & Alignment */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Background & Font-Styling */
    color: var(--text-color02);
}

.container.quote {
    padding: 10px;
    width: 100%;
    height: 400px;
    background-color: var(--background-color03);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.subscribe {
    height: 200px;
    /* margin, border, paddings, etc. */
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-box {
    /* Display & Alignment */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Font color & Background color */
    color: var(--text-color01);
    background-color: var(--background-color02);
     /* Width & height */
     height: 100px;
     width: 60%;
     /* Border, margin, etc */
     margin: 5px;
     border-radius: 10px;
}

.subscribe-text {
    /* Display & Alignment */
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    /* Display & Alignment */
}

.hero-text {
    margin: 0;
}

/* Features, and child elements*/
.main-title {
    padding:  8px;
    margin: 24px;
}
.features-main {
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
    /* Text */
    text-align: center;
}
.features {
    /* Columns and margins */
    width: 15%;
    margin: 8px;
    padding: 8px;    
}

.icon {
    font-size: 60px;
    color: var(--text-color02);
    margin: 6px;
}

